node_modules/
.next/
out/
build/
*.log
.env
.env.local
.DS_Store
/prisma/*.db
/prisma/schema.postgres.prisma
/prisma/*.db-journal
/data/generated/
.vitest/
next-env.d.ts
tsconfig.tsbuildinfo
.vercel
.env*
